---
import { classNames } from "@/utils/classNames"

interface Props {
    className?: string;
}

const { className } = Astro.props;
---
<div class={classNames("mx-auto max-w-container px-4 sm:px-6 lg:px-8", className)}>
    <slot />
</div>