---
import Base from '../layouts/Base.astro'
import PostPreview from '../components/PostPreview.astro'
const allPosts = await Astro.glob('./posts/*.md');
---
<Base>
    <div class="m-auto p-5 pt-12">
        <h1 class="text-5xl font-bold text-foreground text-center mb-8">
            Articles
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            {allPosts.map((post, idx) => <PostPreview post={post} />)}
        </div>
    </div>
</Base>
