---
import { classNames } from "@/utils/classNames"

interface Props {
    title?: string;
    subtitle?: string;
    className?: string;
}

const { title, subtitle, className } = Astro.props;
---
<div class="space-y-2">
    { !!title
        ? <h4 class={classNames("text-xl font-bold tracking-tight", className)}>{ title }</h4>
        : <slot />
    }
    { !!subtitle && <p class="text-sm text-muted-foreground">{ subtitle }</p> }
</div>