---
import { classNames } from "@/utils/classNames"

interface Props {
    title?: string;
    subtitle?: string;
    className?: string;
}

const { title, subtitle, className } = Astro.props;
---
<div class="space-y-2">
    { !!title
        ? <h5 class={classNames("text-lg font-bold tracking-tight", className)}>{ title }</h5>
        : <slot />
    }
    { !!subtitle && <p class="text-sm text-muted-foreground">{ subtitle }</p> }
</div>