---
import { classNames } from "@/utils/classNames"

interface Props {
    className?: string;
}

const { 
    className
 } = Astro.props;
---
<div class={classNames(
                "px-5 py-6 border-t border-border",
                "text-foreground",
                className)}>
    <slot />
</div>