---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Forty4.dev is my blog, portfolio, and project site. I built it to share some of the cool stuff I've been working on." />
		<title>Forty4.dev - Portfolio and Project Site</title>
	</head>
	<body>
		<Nav />
		<div class="max-w-screen-xl m-auto p-3 md:p-12">
			<slot />
		</div>
		<Footer />
	</body>
</html>