---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NMiller44</title>
	</head>
	<body>
		<Nav />
		<div class="max-w-screen-xl m-auto p-12">
			<slot />
		</div>
		<Footer />
	</body>
</html>