---
import Base from './Base.astro'
const { frontmatter } = Astro.props;
---
<Base>
    <div class="p-5 pt-12">
        <article class="m-auto
                        prose lg:prose-xl dark:prose-invert
                        prose-h1:text-5xl prose-h1:font-bold prose-h1:text-foreground
                        prose-a:text-blue-600 prose-p:text-justify">
            <h1>{frontmatter.title}</h1>
            <slot />
        </article>
    </div>
</Base>