---
import Base from './Base.astro'
const { frontmatter } = Astro.props;
---
<Base>
    <article class="prose lg:prose-xl dark:prose-invert
                    prose-a:text-blue-600 prose-p:text-justify
                    m-auto pt-12">
        <h1>{frontmatter.title}</h1>
        <slot />
    </article>
</Base>